.cardContainer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  border-radius: 2%;
  width: 20rem;
  height: 27rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.imgFrame {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 6.875rem;
  height: 6.875rem;
  position: absolute;
  top: 3.5rem;
  border-radius: 50%;
}

.cardContainer img {
  border-radius: 50%;
  width: 6.25rem;
  height: 6.25rem;
}

.CardHead {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 25%;
}

.CardBodyWrapper {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 75%;
  background-color: white;
}

/* top right bottom left*/
.CardBodyContainer {
  padding: 3rem 3rem 0rem 3rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.descriptionHead {
  display: flex;
  flex-direction: column;
}

.descriptionHead h3 {
  font-size: 1.5rem;
  margin: auto;
  font-family: "Comfortaa", cursive;
}

.descriptionHead h4 {
  font-family: "Comfortaa", cursive;
  font-weight: 300;
  margin: 0.4rem auto auto auto;
}

.CardBodyContainer p {
  margin-top: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 0.9rem;
  text-align: center;
  color: #adadad;
}

.CardBodyContainer a {
  color: black;
  text-decoration: none;
}

.IconContainer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 20%;
}

.IconContainer svg {
  cursor: pointer;
  fill: black;
  opacity: 20%;
  width: 1.3rem;
  height: 1.3rem;
}

/* Desktop common */
@media screen and (max-width: 1920px) {
  .cardContainer {
    width: calc(20rem / 1.33);
    height: calc(27rem / 1.33);
  }

  .imgFrame {
    width: calc(6.875rem / 1.33);
    height: calc(6.875rem / 1.33);
    position: absolute;
    top: calc(3.5rem / 1.33);
    border-radius: 50%;
  }

  .cardContainer img {
    border-radius: 50%;
    width: calc(6.25rem / 1.33);
    height: calc(6.25rem / 1.33);
  }

  /* top right bottom left*/
  .CardBodyContainer {
    padding: 2.25rem 2.25rem 0rem 2.25rem;
    height: 100%;
  }

  .descriptionHead h3 {
    font-size: calc(1.5rem / 1.33);
  }

  .descriptionHead h4 {
    font-size: calc(1rem / 1.33);
    margin: calc(0.4rem / 1.33) auto auto auto;
  }

  .CardBodyContainer p {
    margin-top: calc(1rem / 1.33);
    font-style: italic;
    font-size: calc(0.9rem / 1.33);
  }

  .IconContainer {
    margin-top: calc(1rem / 1.33);
    width: 60%;
    height: 20%;
  }

  .IconContainer svg {
    width: calc(1.3rem / 1.33);
    height: calc(1.3rem / 1.33);
  }
}
