.navBarWrapper {
  top: 0;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 5rem;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.navBarContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  padding: 0rem 2.5rem;
}

.navBarContainer img {
  width: 7rem;
  height: 3rem;
}

/* top right bottom left*/
.navBarContainer ul {
  list-style-type: none;
  margin: 0;
}

.navigationContainer li {
  padding: 0rem 1rem;
  display: inline-block;
}

.listItems {
  font-size: 1.4rem;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: black;
}

.hamburger {
  display: none;
}
/* top right bottom left*/
.mobileNavigationContainer {
  display: block;
  position: fixed;
  top: 0;
  left: 101%;
  width: 100%;
  min-height: 100vh;
  z-index: 9;
  background-color: #f9f9f9;
  margin-top: 3.6rem;
  padding: 3rem 0rem 0rem 2rem;
  transition: 0.4s;
}

.mobileNavigationContainer.is-active {
  left: 0%;
}

.demobutton {
  background-color: black;
  border-radius: 6%;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-transform: uppercase;
  font-family: "Play", sans-serif;
  font-weight: bold;
}
/* top right bottom left*/
.navBarContainer p {
  font-size: 1rem;
  /* padding: 1rem 0.8rem 1rem 0.8rem; */
  padding: 1rem;
}

/* Desktop common */
@media screen and (max-width: 1920px) {
  .navBarWrapper {
    height: 3.7rem;
  }

  .navBarContainer {
    height: 3.7rem;
  }

  .navBarContainer img {
    width: calc(7rem / 1.33);
    height: calc(3rem / 1.33);
  }

  .navigationContainer li {
    font-size: calc(1rem / 1.33);
    padding: 0rem 1rem;
    display: inline-block;
  }

  .listItems {
    font-size: calc(1.3rem / 1.33);
  }

  .navBarContainer p {
    font-size: calc(1rem / 1.33);
    padding: calc(1rem / 1.33);
  }
}
@media screen and (max-width: 1280px) {
  .navigationContainer {
    display: none;
  }

  .hamburger {
    display: block;
    position: relative;
    width: 28px;
    height: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
  }

  .hamburger::before,
  .bar,
  .hamburger::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 6px 0px;
    transition: 0.4s;
  }

  .hamburger.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
  }

  .hamburger.is-active::after {
    transform: rotate(45deg) translate(-4px, -4px);
  }

  .hamburger.is-active .bar {
    opacity: 0;
  }
  .mobileNavigationContainer {
    padding: 0px;
  }

  .mobileNavigationContainer ul {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    border-bottom: #d4d4d4;
    border-style: none none solid none;
    border-width: 1px;
  }

  .mobileNavigationContainer li {
    padding: 0.8rem 0rem;
  }

  /* top right bottom left*/

  .demobutton {
    display: none;
  }

  .listItems {
    font-size: 1.7rem;
    text-transform: capitalize;
    font-family: "Play", sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
}
@media screen and (max-width: 767px) {
  .navigationContainer {
    display: none;
  }

  .hamburger {
    display: block;
    position: relative;
    width: 28px;
    height: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
  }

  .hamburger::before,
  .bar,
  .hamburger::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    margin: 6px 0px;
    transition: 0.4s;
  }

  .hamburger.is-active::before {
    transform: rotate(-45deg) translate(-8px, 6px);
  }

  .hamburger.is-active::after {
    transform: rotate(45deg) translate(-4px, -4px);
  }

  .hamburger.is-active .bar {
    opacity: 0;
  }

  .mobileNavigationContainer ul {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: #b3b3b3;
    border-style: none none solid none;
    border-width: 1px;
  }

  .mobileNavigationContainer li {
    padding: 0.8rem 0rem;
  }

  /* top right bottom left*/

  .demobutton {
    display: none;
  }

  .listItems {
    font-size: 1.7rem;
    text-transform: capitalize;
    font-family: "Play", sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
  }
}
