.footerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
  padding: 0rem 25%;
  background: transparent;
  border-top: #f1f1f1;
  border-style: solid none none none;
  border-width: 1px;
}

/* top right bottom left*/
.footerContainer p {
  font-family: "Comfortaa", cursive;
  font-size: 0.75rem;
  color: #616161;
  text-align: center;
}

/* Desktop common */
@media screen and (max-width: 1920px) {
  .footerContainer {
    height: 3.7rem;
    padding: 0rem 25%;
  }

  .footerContainer p {
    font-size: calc(0.75rem / 1.33);
  }
}

/* Mobile */
@media only screen and (max-width: 767px) {
  .footerContainer {
    height: 3.7rem;
    padding: 0rem 6%;
  }
}
