.Container404 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(234, 236, 237, 0.6727065826330532) 0%,
    rgba(255, 255, 255, 1) 37%,
    rgba(255, 255, 255, 1) 92%
  );

  width: 100%;
  min-height: calc(100vh - 10rem);
  margin-top: 3.6rem;
}

.ContentContainer404 {
  display: flex;
  justify-content: space-between;
  width: 45%;
  height: 50%;
}

.ContentContainer404 img {
  width: 25rem;
  height: 35rem;
}
/* top right bottom left*/
.Textbox404 {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Textbox404 h3 {
  font-family: "Comfortaa", cursive;
  color: #373e4c;
  text-align: center;
  font-size: 7rem;
}

.Textbox404 h4 {
  font-family: "Comfortaa", cursive;
  color: #6d6c81;
  text-align: center;
  font-size: 2rem;
}

.Textbox404 p {
  font-family: "Comfortaa", cursive;
  color: #7f8184;
  text-align: center;
  margin-top: 2rem;
}

/* top right bottom left*/
.Textbox404 button {
  margin-top: 1.5rem;
  font-family: "Play", sans-serif;
  text-transform: uppercase;
  border-radius: 0.3rem;
  padding: 0.7rem 1.5rem;
  font-size: 2rem;
  border: none;
  cursor: pointer;
  outline: inherit;
  background-color: #686f8a;
  color: #ffffff;
}
